<div class="container">
  <div class="text-center">
    <h2>Sign in</h2>
  </div>
  <form (submit)="signIn()" id="login-form">
    <div class="input-group mb-1">
      <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email">
    </div>
    <div class="input-group mb-1">
      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-primary" (click)="signIn()">Sign in</button>
  </form>
</div>
