<div class="container">
  <mat-tab-group>
    <mat-tab label="Crypto">
      <ng-template matTabContent>
        <div class="users-list row">
          <div class="offset-md-3 col-md-6">
            <div class="user-item" id="equity-section">
              <p class="ethxkl-label">Equity Value:</p>
              <h5 class="ethxkl-number">
                {{ cryptosNetAssetsUSDT | number: '1.0-3' }}
                <img src="/assets/img/usdt.png">
              </h5>
              <h5 class="ethxkl-number d-none d-md-inline">
                ~{{ cryptosNetAssetsBTC | number: '1.0-10' }}
                <img src="/assets/img/btc.png">
              </h5>
              <p class="ethxkl-label">Equity capital:</p>
              <p class="ethxkl-number">
                {{ allCryptoCapital | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <span class="pnl ethxkl-number al-top-right"
                [class.negative]="getPNL('super', 'isNegative')"
                (click)="pnl['super'].showUSDT = !getPNL('super', 'showUSDT')"
              >
                {{ getPNL('super', 'showUSDT') ? getPNL('super', 'value') : getPNL('super', 'rate') }}
                <img *ngIf="getPNL('super', 'showUSDT')" src="/assets/img/usdt.png">
              </span>
            </div>
          </div>
          <div *ngFor="let item of cryptos" class="col-md-6">
            <div class="user-item">
              <p class="ethxkl-number">
                <img [src]="'/assets/img/' + item.name + '.png'">
                {{ item.wallet | number: '1.0-10' }}
                {{ item.name | uppercase }}
              </p>
              <p class="ethxkl-number">
                <ion-icon name="wallet-outline"></ion-icon>
                {{ item.capital | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <p class="ethxkl-label">Net Value:</p>
              <p class="ethxkl-number">
                {{ netAssetOfCrypto(item) | number: '1.0-3' }}
                <img src="/assets/img/usdt.png">
              </p>
              <p class="al-top-right ethxkl-number">
                <ion-icon name="pricetag-outline"></ion-icon>
                {{ getCryptoPrice(item.stream) | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <span
                class="pnl ethxkl-number al-bottom-right"
                [class.negative]="getPNL(item.id, 'isNegative')"
                (click)="pnl[item.id].showUSDT = !getPNL(item.id, 'showUSDT')"
              >
                {{ getPNL(item.id, 'showUSDT') ? getPNL(item.id, 'value') : getPNL(item.id, 'rate') }}
                <img *ngIf="getPNL(item.id, 'showUSDT')" src="/assets/img/usdt.png">
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Transactions">
      <ng-template matTabContent>
        <div class="users-list row">
          <div *ngFor="let item of data" class="col-md-6">
            <div class="user-item " [class.old]="item.old">
              <p class="ethxkl-number">
                <img [src]="'/assets/img/' + item.crypto + '.png'">
                {{ item.amount | number: '1.0-10' }}
                {{ item.crypto | uppercase }}
              </p>
              <p class="ethxkl-number">
                <ion-icon name="wallet-outline"></ion-icon>
                {{ item.cost | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <div class="date">
                {{ item.dateString | date: 'dd/MM/yyyy hh:mm:ss' }}
              </div>
              <p class="ethxkl-label">Net Value:</p>
              <p class="ethxkl-number">
                {{ netAssetOfTransaction(item) | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <p class="al-top-right ethxkl-number">
                <ion-icon name="pricetag-outline"></ion-icon>
                {{ item.price | number: '1.0-10' }}
                <img src="/assets/img/usdt.png">
              </p>
              <span
                class="pnl ethxkl-number al-bottom-right"
                [class.negative]="getPNL(item.id, 'isNegative')"
                (click)="pnl[item.id].showUSDT = !getPNL(item.id, 'showUSDT')"
              >
                {{ getPNL(item.id, 'showUSDT') ? getPNL(item.id, 'value') : getPNL(item.id, 'rate') }}
                <img *ngIf="getPNL(item.id, 'showUSDT')" src="/assets/img/usdt.png">
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <button mat-button color="primary" (click)="signOut()">Log out</button>
</div>
